version: "3"

services:
    nginx:
        build: nginx
        image: nginx_owncloud_rp
        container_name: nginx_owncloud_rp1
        volumes:
            - ../docker_volumes/letsencrypt:/etc/letsencrypt
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - owncloud
        environment:
            - CERTBOT_EMAIL=${CERTBOT_EMAIL}
            - CERTBOT_WEBROOT=${CERTBOT_WEBROOT}
            - CERTBOT_DOMAIN=${CERTBOT_DOMAIN}
        restart: always

    owncloud:
        build: owncloud
        image: owncloud_server
        container_name: owncloud_server1
        volumes:
            - ../docker_volumes/owncloud:/mnt/data
        depends_on:
            - db
            - redis
        environment:
            - OWNCLOUD_DOMAIN=${OWNCLOUD_DOMAIN}
            - OWNCLOUD_DB_TYPE=mysql
            - OWNCLOUD_DB_NAME=owncloud
            - OWNCLOUD_DB_USERNAME=owncloud
            - OWNCLOUD_DB_PASSWORD=owncloud
            - OWNCLOUD_DB_HOST=db
            - OWNCLOUD_ADMIN_USERNAME=${OWNCLOUD_ADMIN_USERNAME}
            - OWNCLOUD_ADMIN_PASSWORD=${OWNCLOUD_ADMIN_PASSWORD}
            - OWNCLOUD_UTF8MB4_ENABLED=true
            - OWNCLOUD_REDIS_ENABLED=true
            - OWNCLOUD_REDIS_HOST=redis
        # healthcheck:
        #     test: ["CMD", "curl", "-f", "http://localhost:80/status.php"]
        #     interval: 30s
        #     timeout: 10s
        #     retries: 5
        restart: always

    mariadb:
        build: mariadb
        image: owncloud_mariadb
        container_name: owncloud_mariadb1
        volumes:
            - ../docker_volumes/mysql:/var/lib/mysql
        environment:
            - MARIADB_ROOT_PASSWORD=owncloud
            - MARIADB_USERNAME=owncloud
            - MARIADB_PASSWORD=owncloud
            - MARIADB_DATABASE=owncloud
            - MARIADB_MAX_ALLOWED_PACKET=128M
            - MARIADB_INNODB_LOG_FILE_SIZE=64M
            - MARIADB_INNODB_LARGE_PREFIX=ON
            - MARIADB_INNODB_FILE_FORMAT=Barracuda
        # healthcheck:
        #     test: ["CMD", "/usr/bin/healthcheck"]
        #     interval: 30s
        #     timeout: 10s
        #     retries: 5
        restart: always

    redis:
        build: redis
        image: owncloud_redis
        container_name: owncloud_redis1
        volumes:
            - ../docker_volumes/redis:/var/lib/redis
        # healthcheck:
        #     test: ["CMD", "/usr/bin/healthcheck"]
        #     interval: 30s
        #     timeout: 10s
        #     retries: 5
        restart: always
